<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
	<appSettings>
		<add key="organization" value="232" />
		<add key="email" value="tmt@machinelink.com" />
		<add key="password" value="machinelink" />
		<add key="categoryId" value="2" />
		<add key="userId" value="211" />
		<add key="machineId" value="354" />
		<add key="teamId" value="232" />
		<add key="serialPort" value="COM1" />
		<add key="apiOpenTicket" value="https://api.iot.ifra.io/v1/downtime/ticket" />
		<add key="apiGetAccessToken" value="https://api.iot.ifra.io/v1/auth/login" />
		<add key="apiGetJobId" value="https://api.iot.ifra.io/v1/teams" />
		<add key="minToCloseTicket" value="1" />
		
	</appSettings>
	
	
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
	
</configuration>