<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
	<appSettings>
		<add key="server" value="mqtt.ifra.io" />
		<add key="organization" value="223" />
		<add key="email" value="demo@machinelink.com" />
		<add key="password" value="machine_link" />
		<add key="publisherId" value="7a9b1ff1-bfc1-46d6-abbb-436e90706c56" />
		<add key="openTicketCategoryId" value="194" />


	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>